/* Adds global styles and resets (Tailwind calls this Preflight). */
/* Resets browser defaults (margins, paddings, font sizes) so styles are consistent across browsers. */
/* NOTE: later css overrides earlier css */

:root {
    --header-color: #1a5270;
    --background-color: #bcdeff;
    --text-color: #71548a;
    --hyperlink-color: #096b6c;
}

@layer base {
    h2 {
        margin-bottom: 0.5rem;
        font-weight: bold;
        color: var(--header-color);
    }
    a {
        color: var(--hyperlink-color);
    }
    b {
        color: var(--header-color);
    }
    body {
        background-color: var(--background-color);
        color: var(--text-color);
        font-family: Roboto, sans-serif;
    }
}
